.footer {
  width: 100%;
  background: #222;
  padding: 15px 20px;
  color: #ccc;
  text-align: center;
  border-top: 1px solid #444;

  box-sizing: border-box;
}


.footerContent {
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
